<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-subtitle card-text" style="text-align:center">Instrucciones</h6>
      <p class="card-text">Para poder recibir mensajes via la APP, hay que llevar a cabo los siguientes pasos:</p>
      <p class="card-text">1. Enviar mensaje (Whatsapp) al numero " +1 415 523 8886 " con el texto "join ecru-duck"</p>
      <p class="card-text">2. Al recibir respuesta del numero ingresamos mensaje y numero destino en los campos correspondientes.</p>
      <p class="card-text">3. Presionamos el boton "Enviar" y esperar para recibir el mensaje.</p>
    </div>
  </div>